.plugin-container {
    padding: 10px 10px 30px 10px; 
    border: 1px solid #ccc; 
    background-color: #FFF; 
    font-size: 12px;
}

.btn.btn-primary a {
    color: #FFFFFF;
    text-decoration: none;
}

form#choose-issue {
    float:left; 
    margin-top: 10px;
}

.ipad-section {
    float:right;
}

.dataTables_wrapper {
    margin: 0;
}

.btn.btn-danger a {
    text-decoration: none;
    color: #FFFFFF;
}

.btn.btn-success a {
    text-decoration: none;
    color: #FFFFFF;
}

#inline-select, #inline-input {
    width: auto
}

fieldset.buttons {
    margin: 0px;
}

.reordering-tip-label {
    float:left; 
    margin-top: 4px;
}

.js-printstory i {
    color: #B4B3B3;
}

.js-printsection i {
    color: #B4B3B3;
}

h4.choosen-issue-name {
    float:left; 
    margin-top: 27px;
}

button#load-articles-button {
    float:left; 
    margin: 21px 10px;
}

.issues-range label {
    display: inline-block; 
    float: left; 
    margin-right: 5px; 
    margin-top: 30px;
}

button.iframe {
    margin-top: 21px;
}

.content-box {
    float:left; 
    margin-left: 20px;
}